# 
*.mkv
*.mp3
*.exe

# npm backpage
node_modules/

# project
yarn.lock
yarn-error.log
build/
dist/

# book
*.pdf
电子书/

# git
.git/

# ps
*.psd


# C
.vs/
Debug/

# egg
run/
logs/

# IED
.vscode/
.vs/