<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSRF Test</title>
</head>
<body>
  <form action="/transfer-accounts" method="POST">
    <label for="receiver">收货人：</label>
    <input type="text" id="receiver" name="receiver">

    <br><br>

    <label for="receiver">金额：</label>
    <input type="number" id="money" name="money">

    <br><br>

    <input type="submit" value="转账" />
  </form>
</body>
</html>